.header {
    background-color: #FFFFFF;
    z-index: 20;
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__spinner {
        margin-left: 80px;
    }
}