.header {
    background-color: #FFFFFF;
    z-index: 20;
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__spinner {
        margin-left: 80px;
    }

    .categories {
        display: flex;
        margin: 0;

        &__link {
            color: #1D1F22;
            display: block;
            padding: 16px;
            text-transform: uppercase;
        }

        &__link--active {
            border-bottom: 1px solid #5ECE7B;
            color: #5ECE7B;
        }
    }
}