.cart {

  &__empty {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 30px;
    line-height: 90%;
    color: #1D1F22;
    margin-bottom: 4px;
  }
  
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #E5E5E5;

    &:last-child {
      border-bottom: 1px solid #E5E5E5;
    }

    &-left {
      display: flex;
      flex-direction: column;
    }

    &-right {
      display: flex; 
    }

    &-name, &-brand {
      font-family: "Raleway";
      font-weight: 600;
      font-size: 30px;
      line-height: 90%;
      color: #1D1F22;
      margin-bottom: 4px;
    }

    &-brand {
      font-weight: 400;
    }

    &-price {
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 24px;
      line-height: 75%;
      color: #1D1F22;
      margin-bottom: 4px;
    }    

    &-attr-text {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      font-family: "Source Sans Pro";
      font-weight: 400;
      letter-spacing: 0.05em;
      line-height: 112%;
      border: 1px solid #1D1F22;
      color: #1D1F22;
      cursor: pointer;
      min-width: 63px;
      min-height: 45px;
      padding: 12px 5px 15px;
      margin-right: 12px;
      transition: 0.2s;

      &:hover {
        background-color: #eaeaea;
      }

      &:last-child {
        margin-right: 0;
      }

      &--active {
        background-color: #1D1F22;
        color: #FFFFFF;

        &:hover {
          background-color: #1D1F22;
        }
      }
    }

    &-attr-swatch {
      position: relative;
      width: 34px;
      height: 34px;
      border: 1px solid #FFF;
      margin: 1px 7px 1px 1px;
      cursor: pointer;

      &:last-child {
        margin: 1px;
      }
      
      &--active::after {
        content: "";
        position: absolute;
        display: block;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #5ECE7B;
      }
    }

    &-attribute {
      display: flex;
      overflow: hidden;
      flex-wrap: wrap;
      row-gap: 7px;
    }

    &-attribute-title {
      text-transform: uppercase;
      margin: 16px 0 8px;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 18px;
      line-height: 100%;
      color: #1D1F22;
    }

    &-counter {
      position: relative;
      width: 45px;
    }

    &-counter-count {
      position: absolute;
      display: block;
      font-family: 'Raleway';
      font-weight: 500;
      font-size: 24px;
      line-height: 160%;
      color: #1D1F22;
      max-width: 30px;
      padding: 0;
      margin: 0;
      outline: none;
      border: none;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
    }

    &-counter-btn {
      position: absolute;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: none;
      border: 1px solid #1D1F22;
      width: 45px;
      height: 45px;
      transition: 0.1s;

      &:hover {
        background-color: #eaeaea;
      }

      &:active {
        background-color: #cecece;
      }

      &::after, &::before {
        content: "";
        position: absolute;
        display: block;
        background-color: #1D1F22;
        border-radius: 3px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::after {
        width: 15px;
        height: 1px;
      }

      &::before {
        width: 1px;
        height: 15px;
      }

      &:last-child {
        top: 100%;
        transform: translate(-50%, -100%);

        &::before {
          content: "";
          width: 0;
          height: 0;
          background: none;
        }
      }
    }

    &-slider {
      width: 141px;
      height: 185px;
      position: relative;
      margin-left: 12px;

      & .swiper-slide {
        display: flex;
      }

      & .swiper-button-prev, & .swiper-button-next {
        position: absolute;
        z-index: 100;
        height: 24px;
        width: 24px;
        right: calc(16px + 24px + 8px);
        bottom: 16px;
        background-color: #000000BA;
        transition: 0.25s;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.86);
        }

        &:active {
          background-color: rgba(0, 0, 0, 0.73);
        }

        &::after {
          content: "";
          position: absolute;
          background-image: url('../../assets/sliderArrow_1.svg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

          width: 18px;
          height: 18px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      & .swiper-button-next {
        right: 16px;

        &::after {
          transform: rotate(180deg) translate(50%, 50%);
        }
      }
    }

    &-img {
      width: 141px;
      height: 185px;
      object-fit: cover;
    }
  }
}

.bag {

  &__empty {
    text-align: center;
    font-size: 22px;
    margin-top: 24px;
  }
  
  .cart {

    &__item {
      border: none;
  
      &-name, &-brand {
        font-weight: 300;
        font-size: 16px;
        line-height: 160%;
        margin-bottom: 0;
      }

      &-attribute {
        max-width: 150px;
      }
      
      &-price {
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        margin-bottom: 0;
      }
  
      &-attr-swatch {
        width: 18px;
        height: 18px;
      }

      &-attr-text {
        justify-content: center;
        font-size: 14px;
        min-width: 24px;
        min-height: 24px;
        padding: 0 2px;
        margin-right: 8px;
        transition: 0.2s;
        max-width: 50px;
      }
  
      &-counter {
        width: 24px;
      }
  
      &-counter-count {
        font-size: 16px;
      }
  
      &-counter-btn {
        width: 24px;
        height: 24px;
        transition: 0.2s;
  
        &::after {
          width: 8px;
        }
  
        &::before {
          height: 8px;
        }
      }

      &-attribute-title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 114%;
        text-transform: none;
      }
  
      &-slider {
        width: 105px;
        height: 137px;
        margin-left: 10px;

        & .swiper-button-prev, & .swiper-button-next {
          display: none;
        }
      }
  
      &-img {
        width: 105px;
        height: 137px;
      }
    }
  }
}