* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
}

.main {
  height: 100%;
}

a {
  text-decoration: none;
}

ul, ol {
  padding: 0;
  list-style: none;
}

.container {
  padding: 0 30px;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
